# Created by venv; see https://docs.python.org/3/library/venv.html
# Python cache files
# Python / Django
venv/
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
.Python

# Django specific
/staticfiles/
/media/
/*.db
.env

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# VSCode / IDE
.vscode/
.idea/
*.swp
*.swo

# React / Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/build
/.pnp
.pnp.js

# Misc
.DS_Store
Thumbs.db

